In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from tqdm import tqdm
from matplotlib import rc
from geopy.geocoders import Nominatim

In [3]:
ori_df = pd.read_csv("data/JEJU_MCT_DATA.csv", encoding="cp949")
df = ori_df.copy()
df = df[~df['ADDR'].str.strip().eq('')]
address_df = df[['ADDR']].copy()

In [4]:
address_df.head(10)

                        ADDR
0  제주 제주시 용담이동 2682-9번지 통큰돼지
1     제주 제주시 애월읍 애월리 410-6번지
2   제주 서귀포시 색달동 2315-1번지 한그릇
3    제주 제주시 한림읍 협재리 1459-2번지
4    제주 제주시 노형동 3784-12번지 1층
5         제주 제주시 일도일동 1146번지
6      제주 제주시 아라일동 6104번지 1층
7       제주 제주시 연동 355-8번지 1층
8       제주 서귀포시 토평동 1245-7번지
9    제주 제주시 아라일동 1813-2번지 1층

In [6]:
geo_local = Nominatim(user_agent='South Korea')

In [7]:
# 위도, 경도 반환하는 함수
def geocoding(address):
    try:
        location = geo_local.geocode(address)
        geo = [location.latitude, location.longitude]
        return geo

    except:
        return [0,0]

# 실행
for idx,addr in enumerate(tqdm(address_df.ADDR)):
    address_df.loc[idx,'Latitude'] = geocoding(addr)[0]
    address_df.loc[idx,'Longitude'] = geocoding(addr)[1]

  0%|          | 69/67915 [01:11<18:28:44,  1.02it/s]

:

:

In [ ]:
address_df.to_csv("data/jeju_address.csv", encoding="cp949")